name: Hello world workflow

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Run hello world
        run: echo "Hello world"
      - name: test
        run: |
          # Gem secret i en variabel (undgå direkte echo af hele secreten)
          STR="${{ secrets.greetings }}"
          STR1="${{ secrets.greetings }}"
          HALF_LEN=$(( ${#STR1} / 2 ))
          HALF_LEN=$(( ${#STR} / 2 ))
          
          # Udtræk og print den første halvdel
          echo "${STR:0:$HALF_LEN} ${STR1:$HALF_LEN}"


